# === Node.js ====================================
# dependencies
frontend/node_modules
frontend/.pnp
frontend.pnp.js

# testing
frontend/coverage

# production
frontend/build
frontend/.env.development
frontend/.env.production

# misc
frontend.DS_Store
frontend.env.local
frontend.env.development.local
frontend.env.test.local
frontend.env.production.local

frontendnpm-debug.log*
frontendyarn-debug.log*
frontendyarn-error.log*

# === Python ====================================
backend/venv/
*.pyc
__pycache__/
backend/.env
backend/alembic.ini
backend/docker-compose.yml
mysql-init/init.sql
backend/test.db


# === General ====================================
*.log
.DS_Store
.env