#chat-footer {
  position: fixed;
  bottom: 0;
  left: 250px; /* 사이드바의 너비만큼 왼쪽 오프셋을 적용 */
  right: 0;
  padding: 20px;
  background: #1a1a1a;   /* #1a1a1a */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* 패딩이 전체 너비에 포함되도록 설정 */
  transition: left 0.3s ease; /* 사이드바가 열리고 닫힐 때 부드러운 전환 효과 */
}



#chat-footer-inputarea {
  border:transparent;
  border-radius:20px;    
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  background: rgb(218, 218, 218);    
  color: black;
  font-size: 20px;
  max-height: 500px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 60px;
  overflow-y: auto;
  border: transparent;
  resize: none;
}

#chat-input::placeholder {
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
}

#chat-input:focus {
  outline: none;
  border-color: #f39e00;
}


#send-button {
  padding: 0.5rem 1rem;
}